img 
{
     max-width: 100%;
     height: auto;
}
aside {
    flex: 1;
    background-color: rgb(247, 60, 207);

  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li {
    margin-left: 2px;
    float: left;
    /*pour IE*/
  }
  
  ul li a {
    display: block;
    /* float:left;    */
    width: 100%;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px;
  
    /*pour avoir un effet "outset" avec IE :*/
    border-color: #DCDCDC #696969 #696969 #DCDCDC;
  }
  
  ul li a:hover {
    background-color: #b14c4c;
    border-color: #696969 #DCDCDC #DCDCDC #696969;
  }
  nav {
    display: flex;
    /* Transformation en flexbox */
    padding: 0;
    /* Suppression des marges internes */
    background-color: rgb(32, 68, 136);
    /*   Ajout de la couleur d'arrière-plan   */
    width: 100%;
    color: rgb(78, 36, 194);
  }